.main {
  position: relative;
  padding-top: 100px;

  @include mobile {
    padding-top: 76px;
  }

  &:after {
    content: '';
    @include absolute($top: 0, $left: 0);
    width: 100%;
    height: 100%;
    background-image: url('../../src/img/background.jpg');
    @include bg_img(no-repeat, center, cover);
  }


  &__content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 144px;
    padding-bottom: 156px;
    max-width: 85%;
    text-align: center;
    z-index: 1;

    @include tablet {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    @include mobile {
      padding-top: 65px;
      padding-bottom: 65px;
    }
  }

  &__text {
    margin-top: 24px;
    font-size: 22px;
    line-height: 33px;

    @include tablet {
      font-size: 18px;
      line-height: 26px;
    }

    @include mobile {
      margin-top: 15px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__button {
    margin-top: 72px;
  }
}

